#footer {
  background: #333333;
  padding: 40px 0px;
  ul li a {
    font-size: 30px;
    color: #CCCCCB;
    padding: 15px;
  }
  ul li a:first-child {
    padding-left: 0px;
  }
  ul li a:hover {
    color: #FEFE05;
    text-decoration: none;
  }
  p {
    color: #CCCCCB;
    margin-bottom: 0px;
}
}
