<div class="container text-center">

  <h1 class="text-center">Our team</h1>

  <ul class="list-inline text-center">
    <% ["Audrey", "Julien", "Emily"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "img-circle avatar-large" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>

  <h3 class="padded">
    <% link_to "mailto:contact@airbnb.com" do %>
    <i class="fa fa-envelope"></i> contact@airbnb.com
    <% end %>
  </h3>


    <%= link_to "dezde", nil, class:'btn btn-info' %>

</div>
